OPENROUTER_API_KEY=
OPENROUTER_MODEL=openai/gpt-4o-mini
KUBECONFIG_PATH=
INSFORGE_BASE_URL=https://n4tj8e34.us-east.insforge.app
INSFORGE_ANON_KEY=anon_9838ab8046f1eeb90c3c6588a85be8ff1f8f36a28aca6396965767142da3802e
